


.content{
  width: 100%;
  background-color: #FAFAFA;
}

.cont_post{
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.post-card-box li{
  width: 33.333%;
  padding: 15px;
}
.post-card{
  background-color: white;
}
.post-card .post-card-body{
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
}

.post-card .post-card-body .tag, .post-card .post-card-body .post-card-title{
  color: #707070;
  text-align: center;

}

.post-card .post-card-image{
  position: relative;
}

.post-card .post-card-body .tag{
  margin: 25px auto 20px auto;
  display: inline-block;

}
.post-card .post-card-body .post-card-title {
  margin-bottom: 24px;
  display: block;
  text-transform: none;
  color: #222;
  font-family: 'Markazi Text', serif;
}
.post-card .post-card-body .post-card-link{
  display: table;
  width: 100%;
}
.page-share a{
  margin: 15px 10px;
  display: inline-block;
}
.main-nav .search-icon-container{
  display: table;
  width: auto;
  float: right;

}
.main-header .page-share{
    display: table;
    float: left;
}
.main-nav .search-icon-container a{
  display: inline-block;
  color: #87314e;
}
.v-logo-container{
  position: absolute;
  left: 50%;
  display: table;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}
.v-logo-container img{
  max-width: 145px;
  width: 100%;
}

@media only screen and (max-width: 992px) {

  .post-card-box li{
    width: 50%;
  }

}

@media only screen and (max-width: 767px) {

  .post-card-box li{
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
  }

}
